$background-color: #00D1B2;
$navbar-color: white;
$font: Verdana, Geneva, Tahoma, sans-serif;

.navbar {
    background-color: $background-color;
}

.navbar-brand {
    color: $navbar-color;
    font-family: $font;
}

