<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">Beer from Ogi</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="menu-nav" routerLink=''>Home</a></li>
                <li routerLinkActive="active"><a class="menu-nav" routerLink="/favorites">Favorites</a></li>
            </ul>
        </div>
    </div>
</nav>