<div class="container">
    <div class="row" *ngIf="beer">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{beer.name}} details</h3>
                </div>
                <div class="panel-body">
                    <img [src]="beer.image_url" alt="">
                    <div class="caption">
                        <h3>Description</h3>
                        <p>{{beer.description}}</p>
                    </div>
                    <div class="caption">
                        <h3>Best food pairing:</h3>
                        <ul>
                            <li *ngFor="let food of beer.food_pairing">
                                {{food}}
                            </li>
                        </ul>
                    </div>
                    <div class="caption">
                        <p>First brewed in: {{beer.first_brewed}}</p>
                    </div>
                    <div class="caption">
                        <p>Tips: {{beer.brewers_tips}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>