<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <button 
            class="btn btn-primary" 
            (click)="prevPage()"
            aria-label="Previous" 
            routerLink="/" [queryParams]="{page: pageNumber-2 }"
            [disabled]="pageNumber <=2"
            >
                <span  aria-hidden="true">&laquo; Previos Page</span>
            </button>
        </li>

        <li (click)="nextPage()">
            <button class="btn btn-primary" aria-label="Next" routerLink="/" [queryParams]="{page: pageNumber}">
                <span  aria-hidden="true">Next Page &raquo;</span>
            </button>
        </li>
    </ul>
</nav>