$percent-position: 50%;
$element-heigh: 50px;
$top-position: 10px;
#test {
    z-index: 10;
    position: fixed;
    width: $percent-position;
    height: $element-heigh;
    left: $percent-position;
    transform:translateX(-$percent-position);
    top: $top-position;
  }