<div class="innerRow">
    <div class="col-lg-12">
        <div class="input-group">
            <input [(ngModel)]="searchString" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
          <button class="btn bnt-default" type="button" routerLink="/search" 
          [queryParams]="{query: searchString}">Search</button>
      </span>
        </div>
    </div>
</div>