$row-margin: auto;
$row-width: 50%;
$row-padding: 10px;
$row-padding-bottom: 50px;

.innerRow {
    margin: $row-margin;
    width: $row-width;
    padding: $row-padding;
    padding-bottom: $row-padding-bottom;
}