<app-search-form></app-search-form>
<messages [isAdded]='isAdded' [message]='message' [hidden]="!isVisible"></messages>
<div class="row outerRow">
    <div *ngFor="let beer of beers" class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default item-beer">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" [src]="beer.image_url" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <app-favorite class="favorite" [isFavorite]='isFavorite(beer.id)' [beer]='beer' (change)="onFavoriteChange($event)"></app-favorite>
                        <h4 class="media-heading">{{beer.name}}</h4>                        
                        <a routerLink="beer/{{beer.id}}">
                            <p>{{ beer.description | textLimit:90 }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-pagination></app-pagination>