$image-height: 120px;
$image-padding: 20px;
$item-padding: 10px;
$button-fav-float: right;
$button-fav-padding: 8px;
$title-beer-align: left;
$title-font-weight: 800;
$beer-description-align: justify;

img {
    height: $image-height;
    padding: $image-padding;
}

.media {
    padding-top: $item-padding;
}


.favorite {
        float: $button-fav-float;
        padding: $button-fav-padding;
}


h4 {
    text-align: $title-beer-align;
    font-weight: $title-font-weight;
}

p {
    text-align: $beer-description-align;

}
