<!-- <div class="row outerRow">
    <div *ngFor="let beer of favoriteBeers" class="col-md-4 col-sm-6 col-xs-12 item-beer">
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" [src]="beer.image_url" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{beer.name}}</h4>
                <p class="description">{{ beer.description | textLimit:100 }}</p>
            </div>
        </div>
    </div>
</div> -->

<div class="row outerRow">
        <div *ngFor="let beer of favoriteBeers" class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default item-beer">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" [src]="beer.image_url" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{beer.name}}</h4>                        
                            <a routerLink="beer/{{beer.id}}">
                                <p>{{ beer.description | textLimit:90 }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="favoriteBeers?.length == 0" class="alert alert-danger">
        No favorite beers added!
    </div>