@import '../beers/beers.component';

// img {
//     height: 90px;
//     width: 100px;
//     padding-left: 20px;
//     padding-right: 40px;
// }

// .media {
//     // padding: 30px;
//     border: 1px solid #cccccc;
//     box-shadow: 0px 0px 8px #ccc;
//     border-radius: 7px;
//     margin-bottom: 10px;
// }

// .item-beer {
//     min-height: 200px;
// }


// .description {
//     text-align: left;
//     text-decoration: none;
// }

// h4 {
//     text-align: left;
//     font-weight: 800;
// }
// .outerRow {
//     margin-left: 40px;
//     margin-right: 40px;
//     margin-top: 20px;
// }

